<!DOCTYPE html>
<html>

<head>
  <title>Etusivu</title>
</head>

<body>
  <h1>Etusivu</h1>
  
  {% if session.username %}
  <p>
    You are logged in as {{ session.username }}
  </p>
  <p>
    <a href="/submit_score">Submit new score</a>
  </p>
  <p>
    <a href="/logout">Logout</a>
  </p>

  {% else %}
  <form action="/login" method="post">
    <p>
      username: <br />
      <input type="text" name="username" />
    </p>
    <p>
      password: <br />
      <input type="password" name="password" />
    </p>
    <input type="submit" value="Login" />
  </form>
  {% endif %}

</body>

</html>
