<!DOCTYPE html>
<html>
    <body>
    <h2>User {{ user.username }}</h2>
    
    <p>
        User has submitted {{ results | count }} result(s)
    </p>

    {% for result in results %}
    <ul>
      <li>

        <a href="/result/{{ result.id }}">details</a>
        {{ result.game }}
        <br />
        time: {{ result.time }} grade: {{ result.grade }} score: {{ result.score }}
        <br />
        extras:
        <br />
        {% if result.twentyg_mode %}
          twenty g mode
        {% endif %}  
        {% if result.big_mode %}
          big mode
        {% endif %}
        <br>
        {{ result.submitted_at }}
      </li>
    </ul>
    {% endfor %}

    <p>
      Comments made by User
    </p>
    {% for comment in user_comments %}
    <ul>
      <li>
        <a href="/result/{{comment.result_id}}">Result</a>
        <br />
        {{ comment.content }}
        <br />
        Sent at: {{ comment.sent_at }}
      </li>
    </ul>
    {% endfor %}
    </body>
</html>